---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.link %}
        <!-- external link -->
        <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>        
      {% else %}
        <!-- blog post -->
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% endif %}

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>